<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github</id>
            <password>${env.GITHUB_AUTH_TOKEN}</password>
        </server>

        <server>
            <id>github.mavenrepo</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <value>token ${env.GITHUB_AUTH_TOKEN}</value>
                    </property>
                    <property>
                        <name>Accept</name>
                        <value>application/vnd.github.v3.raw</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>alexberemart</id>
            <repositories>
                <repository>
                    <id>github.mavenrepo</id>
                    <url>https://raw.githubusercontent.com/Alexberemart/mvn-repository/master</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>codehaus-mule-repo</id>
                    <name>codehaus-mule-repo</name>
                    <url>
                        https://repository-master.mulesoft.org/nexus/content/groups/public/
                    </url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>maven-restlet</id>
                    <name>Maven restlet</name>
                    <url>http://maven.restlet.com</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>central</id>
                    <name>Maven Central</name>
                    <url>http://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>alexberemart</activeProfile>
    </activeProfiles>
</settings>
