<md-content flex layout="column" id="content">

    <!--<md-content flex layout="row">-->
    <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
    <h2>{{ul.selected.name}}</h2>
    <!--</md-content>-->

    <p>{{ul.selected.content}}</p>
    <form ng-submit="$event.preventDefault()" name="searchForm">

        <!--<pre>{{searchForm | json}}</pre>-->

        <sport-autocomplete
                selected-item="ul.selectedItem"
                search-text="ul.searchText"
                sport-autocomplete-label="Sport Filter"
                sport-autocomplete-required="false"
        ></sport-autocomplete>

        <md-radio-group ng-model="ul.selectedGenderId">

            <md-radio-button class="md-2-line"
                             ng-repeat="genderValue in ul.genderValues"
                             value="{{genderValue.id}}"
                             ng-class="{'md-primary' : genderValue.primary}">
                {{genderValue.name}}
            </md-radio-button>

        </md-radio-group>

        <md-divider md-inset></md-divider>

        <!--<PRE>{{ul.selectedItem}}</PRE>-->
        <!--<PRE>{{ul.searchText}}</PRE>-->
        <!--<PRE>{{ul.noCache}}</PRE>-->
        <!--<PRE>{{searchForm.autocompleteField.$error}}</PRE>-->
        <!--<PRE>{{searchForm.autocompleteField.$error.required}}</PRE>-->
        <!--<PRE>{{searchForm.autocompleteField.$touched}}</PRE>-->
    </form>

    <md-list>
        <div layout="column" layout-gt-md="row" layout-wrap>
            <md-list-item class="md-2-line"
                          ng-repeat="resultInfo in ul.medals | resultFilter:ul.searchText:ul.selectedGenderId:ul.genderValues">
                <result-directive result="resultInfo"></result-directive>
            </md-list-item>
        </div>
    </md-list>

    <md-button class="md-fab addNew" aria-label="Eat cake" ng-click="ul.showAdvanced($event)">
        <md-icon md-font-icon="fa-plus" class="fa"></md-icon>
    </md-button>

</md-content>