<md-content flex layout="column" id="content">

    <!--<md-content flex layout="row">-->
    <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
    <h2>{{ul.selected.name}}</h2>
    <!--</md-content>-->

    <p>{{ul.selected.content}}</p>
    <form ng-submit="$event.preventDefault()" name="searchForm">
        <md-autocomplete flex="" required=""
                         md-input-name="autocompleteField"
                         md-input-minlength="1"
                         md-input-maxlength="18"
                         md-no-cache="ul.noCache"
                         md-selected-item="ul.selectedItem"
                         md-search-text="ul.searchText"
                         md-items="item in ul.querySearch(ul.searchText)"
                         md-item-text="item.name"
                         md-floating-label="Spot Filter">
            <md-item-template>
                <span md-highlight-text="ul.searchText">{{item.name}}</span>
            </md-item-template>
            <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <!--<div ng-message="required">You <b>must</b> have a favorite state.</div>-->
                <!--<div ng-message="minlength">Your entry is not long enough.</div>-->
                <div ng-message="maxlength">Your entry is too long.</div>
            </div>
        </md-autocomplete>

        <md-radio-group ng-model="ul.selectedGenderId">

            <md-radio-button class="md-2-line"
                             ng-repeat="genderValue in ul.genderValues"
                             value="{{genderValue.id}}"
                             ng-class="{'md-primary' : genderValue.primary}">
                {{genderValue.name}}
            </md-radio-button>

        </md-radio-group>

        <md-divider md-inset></md-divider>

        <!--<PRE>{{ul.selectedItem}}</PRE>-->
        <!--<PRE>{{ul.searchText}}</PRE>-->
        <!--<PRE>{{ul.noCache}}</PRE>-->
        <!--<PRE>{{searchForm.autocompleteField.$error}}</PRE>-->
        <!--<PRE>{{searchForm.autocompleteField.$error.required}}</PRE>-->
        <!--<PRE>{{searchForm.autocompleteField.$touched}}</PRE>-->
    </form>

    <md-list>
        <div layout="column" layout-gt-md="row" layout-wrap>
            <md-list-item class="md-2-line"
                          ng-repeat="resultInfo in ul.medals | resultFilter:ul.searchText:ul.selectedGenderId:ul.genderValues">
                <result-directive result="resultInfo"></result-directive>
            </md-list-item>
        </div>
    </md-list>

</md-content>